<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../../partials/head.ejs') %>

  <style>
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;  /* Or whatever width you want */
    }
  </style>
</head>
<body>

  <%- include('../../partials/model/scripts.ejs') %>
  <%- include('../../partials/model/navbar.ejs') %>

  <%- include('../../partials/modal/confirmation.ejs') %>
  <%- include('../../partials/modal/error.ejs') %>

  <link href="./assets/css/jquery.dataTables.min.css" rel="stylesheet"></script>
  <script src="./assets/js/jquery.dataTables.min.js"></script>
  <script src="./assets/js/fontawesome.js"></script>

  <div class="container-fluid">
      <div class="row flex-nowrap">
          <%- include('../../partials/model/sidebar.ejs') %>
          <div class="col py-3">
            <div class="content-header">
              <h3><%= model.name %></h3>
            </div>
            <div class="row">
              <div class="col-sm-8 mb-3 mb-sm-0">
                <div class="card py-3">
                  <h5 class="card-title">Firmwares</h5>
                  <table id="firmwares" class="display" style="width:100%" overflow-x:scroll>
                    <thead>
                        <tr>
                            <th></th>
                            <th>fw version</th>
                            <th>app version</th>
                            <th>release</th>
                            <th>filename</th>
                        </tr>
                    </thead>
                  </table>
                </div>
              </div>
              <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card py-3">
                  <div class="card-header">
                    <h5 class="card-title">Add new firmware image</h5>
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                      <div class="input-group py-2">
                        <label class="input-group-text" for="inputGroupSelect23">FW version</label>
                        <input type="text" id="_fwversion_" class="form-control" placeholder="type your version in format xx.yy.zz">
                      </div>
                      <div class="input-group py-2">
                        <label class="input-group-text" for="inputGroupSelect23">App version</label>
                        <input type="text" id="_appversion_" class="form-control" placeholder="type your app version in format xx.yy.zz">
                      </div>
                      <div class="py-2">
                        <input class="form-control" type="file" id="formFile">
                      </div>
                      <div class="py-2">
                        <button id="submit_fw" type="button" class="btn btn-primary btn-sm">submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <script>

    var t;
    var modelID = api.getModelID();

    $(document).ready(function () {

      t = $('#firmwares').DataTable();

      api.getFWModelInfo(modelID,(err,res)=>{
        if(err) console.log(err);
        $("#title").text(res?.name)
      })

      api.getFirmwares(modelID,(err,res)=>{
        if(err) console.log("err:",err)
        else{
          res.forEach((item, i) => {
            console.log(res)
            addRow(item.id,item.fw_version,item.app_version,item.fw_release,item.originalname,item.token);
            if(i == res.length-1){
              $(".fwReleaseOption").change((event)=>{
                let id = event.target.id;
                $( ".fwReleaseOption option:selected" ).each(function() {
                  let release = $( this ).text();
                  api.updateFwRelease(modelID,id,release,(err,res)=>{
                    if(err){
                      $('#error').text("Your request cannot be executed");
                      if(err.hasOwnProperty("sqlMessage"))
                        $('#suggestion').text(err.sqlMessage);
                      else
                        $('#suggestion').text(err);
                      $('#modalError').modal('show');
                    }
                  });
                });
              });
            }
          });
        }
      });

    });

    $("#submit_fw").click(()=>{
      let fw_version = $("#_fwversion_").val();
      let app_version = $("#_appversion_").val();
      var input = document.getElementById("formFile");
      var file = input.files[0];
      api.addFirmware(modelID,file,fw_version,app_version,(err,res)=>{
        if(err){
          $('#error').text("Your request cannot be executed");
          if(err.hasOwnProperty("sqlMessage"))
            $('#suggestion').text(err.sqlMessage);
          else
            $('#suggestion').text(err);
          $('#modalError').modal('show');
        }else location.reload();
      });
    });

    function addRow(id,fw_version,app_version,release,filename,token){

      var hostname = window.location.protocol+"//"+window.location.hostname+":"+window.location.port;
      let fileUrl = hostname+"/api/firmware/"+filename+"/download?token="+token;
      t.row.add([`
        <button id="`+id+`" onclick="deleteFirmware('`+id+`');" type="button" class="delete btn btn-danger btn-sm">
          <i class="fa-sharp fa-solid fa-trash"></i>
        </button>`,
        fw_version,
        app_version,
        `<select class="form-select fwReleaseOption" id="`+id+`">
          <option selected>`+release+`</option>
          <option value="nightmare">nightmare</option>
          <option value="stable">stable</option>
        </select>`,
        `<a href="` + fileUrl + `" class="filename-link">` + filename + `</a>`]).draw(true);

    }

    function deleteFirmware(id){

      api.removeFirmware(modelID,id,(err,res)=>{
        if(err){
          $('#error').text("Your request cannot be executed");
          $('#suggestion').text(err);
          $('#modalError').modal('show');
        }else location.reload();
      });
    }

  </script>
</body>
</html>
