<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>

  <style>
    td {
      max-width: 200px;
    }
  </style>
</head>
<body>

  <%- include('../partials/scripts.ejs') %>

  <%- include('../partials/navbar.ejs') %>

  <link href="./assets/css/jquery.dataTables.min.css" rel="stylesheet"></link>
  <script src="./assets/js/jquery.dataTables.min.js"></script>
  <script src="https://kit.fontawesome.com/d69c68b380.js" crossorigin="anonymous"></script>

  <div class="container-fluid">
      <div class="row flex-nowrap">
          <%- include('../partials/sidebar.ejs') %>
          <div class="col py-3">
            <div class="row">
              <div class="col-sm-7 mb-3 mb-sm-0">
                <div class="content-header">
                  <h5>MQTT Clients</h5>
                </div>
                <div class="card" style="overflow: scroll;">
                  <!--<h5 class="card-title">Special title treatment</h5>-->
                  <table id="clients" class="display" style="width:100%" overflow-x:scroll>
                    <thead>
                        <tr>
                            <th></th>
                            <th>client</th>
                            <th>password</th>
                            <th>user type</th>
                            <th>registered</th>
                        </tr>
                    </thead>
                  </table>
                </div>
              </div>
              <div class="col-sm-5 mb-2 mb-sm-0">
                <div class="card">
                  <div class="card-header">
                    <p>Add new client</p>
                  </div>
                  <div class="card-body">
                    <div class="input-group mb-3">
                      <span class="input-group-text" >client</span>
                      <input type="text" id="_clientID_" class="form-control" placeholder="mqtt client/platform client" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" >password</span>
                      <input type="text" id="_passwordID_" class="form-control" placeholder="platform password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                      <label class="input-group-text" for="inputGroupSelect01">user</label>
                      <select class="form-select" id="_userID_">
                        <!--<option default>client</option>-->
                      </select>
                    </div>
                    <button id="submit" type="button" class="btn btn-primary btn-sm">submit</button>
                    <br>
                    <br>
                    <div id="privelleges">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <!-- check link to more import options https://cdnjs.com/libraries/ace -->
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.min.js" integrity="sha512-s57ywpCtz+4PU992Bg1rDtr6+1z38gO2mS92agz2nqQcuMQ6IvgLWoQ2SFpImvg1rbgqBKeSEq0d9bo9NtBY0w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.14.0/ace.js" integrity="sha512-WYlXqL7GPpZL2ImDErTX0RMKy5hR17vGW5yY04p9Z+YhYFJcUUFRT31N29euNB4sLNNf/s0XQXZfzg3uKSoOdA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js" integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <%- include('../partials/modal/confirmation.ejs') %>
  <%- include('../partials/modal/error.ejs') %>
  <%- include('../partials/modal/editClient.ejs') %>

  <script src="lib/markdown.js"></script>

  <script>
    var t;
    var id;

    privelleges.innerHTML = markdown.toHTML(
    `#### Clients Privelleges:

    Only clients listed on this section are available to access mqtt broker.
    Create a client and associate it to a user.
    Clients permissions will be given by associated user type.
    Those permissions are then used by mqtt broker to manage privelleges on subscribe and publish topics.

    However, it is possible to give permission to a client to manage one or more devices, clicking on it's id in this table

    These clients accounts are also used to login on this platform.
    So the defined password on new client creation will be used to login on this platform.
    `);

    $(document).ready(function () {

      t = $('#clients').DataTable();
      api.getClients((err,res)=>{
        if(err) console.log("err:",err)
        else{
          res.forEach((item, i) => {
            addRow(item.idclients,item.token,item.api_token,item.users_idusers,moment(item.timestamp).format('YY/MM/DD LT'));
          });
        }
      });

      api.getUsers((err,res)=>{
        if(err) console.log("err:",err)
        else{
          res.forEach((item, i) => {
            addOption("#_userID_",item.idusers)
          });
        }
      })
    });

    function addOption(element, user_id){

      $(element).append(`<option value="${user_id}">
                                 ${user_id}
                            </option>`);
    }

    function addRow(client_id,password,api_token,user,registered){
      t.row.add([`
        <div class="btn-group">
          <button onclick="deleteClient('`+client_id+`');" type="button" class="delete btn btn-secondary btn-sm">
            <i class="fa-solid fa-user-xmark"></i>
          </button>
          <button onclick="editClient('`+client_id+`,`+password+`,`+user+`');" type="button" class="edit btn btn-primary btn-sm">
            <i class="fa-solid fa-user-pen"></i>
          </button>
        </div>`,
        `<a href="./client/`+client_id+`">`+client_id+`</a>`,
        password,
        user,
        registered]).draw(true);
    }

    function deleteClient(client_id){
      id = client_id;
      $('#modalConfirmation').modal('show');
    }

    function editClient(args){
      let arr = args.split(",");
      let client_id = arr[0];
      let pwd = arr[1];
      let user_type = arr[2];
      id = client_id;

      const myInput = document.getElementById('_modalPasswordID_');
      // Change the value of the input element
      if(typeof pwd !== "undefined")
        myInput.value = pwd;

      const mySelect = document.getElementById('_modalUserType_');
      while (mySelect.options.length > 0) {
        mySelect.remove(0);
    }
      api.getUsers((err,res)=>{
        if(err) console.log("err:",err)
        else{
          res.forEach((item, i) => {
            addOption("#_modalUserType_",item.idusers)
            if(i == res.length-1){
              mySelect.value = user_type;
            }
          });
        }
      })

      $('#modalEditClient').modal('show');
    }

    $("#modalProceed").click(()=>{
      api.deleteClient(id,(err,res)=>{
        if(err){
          $('#error').text("Your request cannot be executed");
          $('#suggestion').text(err);
          $('#modalError').modal('show');
        }else location.reload();
      });
    })

    $("#modalChangeClientSettings").click(()=>{
      let pwd = $("#_modalPasswordID_").val();
      let user_type = $("#_modalUserType_").val();
      console.log("edit client:",id);
      console.log("password:",pwd);
      console.log("user_type:",user_type);

      api.updateClient(id,pwd,user_type,(err,res)=>{
        if(err){
          $('#error').text("Your request cannot be executed");
          $('#suggestion').text(err);
          $('#modalError').modal('show');
        }else location.reload();
      });
    });

    $("#submit").click(()=>{
      let client = $("#_clientID_").val();
      let user = $("#_userID_").val();
      let password = $("#_passwordID_").val();
      api.addClient(client,user,password,(err,res)=>{
        if(err) console.log(err);
        else location.reload();
      });
    });

  </script>

</body>
</html>
