<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../partials/head.ejs') %>

  <style>
    td {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;  /* Or whatever width you want */
    }
  </style>
</head>
<body>

  <%- include('../partials/scripts.ejs') %>
  <%- include('../partials/navbar.ejs') %>

  <%- include('../partials/modal/confirmation.ejs') %>
  <%- include('../partials/modal/error.ejs') %>

  <link href="./assets/css/jquery.dataTables.min.css" rel="stylesheet"></script>
  <script src="./assets/js/jquery.dataTables.min.js"></script>
  <script src="https://kit.fontawesome.com/d69c68b380.js" crossorigin="anonymous"></script>

  <div class="container-fluid">
      <div class="row flex-nowrap">
          <%- include('../partials/sidebar.ejs') %>
          <div class="col py-3">
            <div class="content-header">
              <h3>Models</h3>
            </div>
            <div class="row">
              <div class="col-sm-12 mb-3 mb-sm-0">
                <div class="card py-3" style="width:100%" overflow-x:scroll>
                  <table id="models" class="display">
                    <thead>
                        <tr>
                            <th></th>
                            <th>model</th>
                            <th>description</th>
                        </tr>
                    </thead>
                  </table>
                </div>
              </div>
              <!--
              <div class="col-sm-4 mb-3 mb-sm-0">
                <div class="card py-3">
                  <div class="card-header">
                    <h5 class="card-title">Add new model</h5>
                  </div>
                  <div class="card-body">
                    <div class="mb-3">
                      <div class="input-group py-2">
                        <label class="input-group-text" for="inputGroupSelect11">name</label>
                        <input type="text" id="_name_" class="form-control" placeholder="set your model name">
                      </div>
                      <div class="py-2">
                        <label class="input-group-text" for="inputGroupSelect12">description</label>
                        <textarea id="_description_" class="form-control" aria-label="With textarea"></textarea>
                      </div>
                      <div class="py-2">
                        <button id="submit_model" type="button" class="btn btn-primary btn-sm">submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              -->
            </div>
          </div>
      </div>
  </div>

  <script>

    var t;
    var id;
    let models = <%- JSON.stringify(models) %>;

    $(document).ready(function () {

      t = $('#models').DataTable();

      models.sort((a, b) => (a.name.toLowerCase() > b.name.toLowerCase()) ? 1 : ((b.name.toLowerCase() > a.name.toLowerCase()) ? -1 : 0));

      models.forEach((item, i) => {
        addRow(item.id,item.name,item.description);
      });
      /*
      api.getFWModels((err,res)=>{
        if(err) console.log("err:",err)
        else{
          res.forEach((item, i) => {
            addRow(item.id,item.name,item.description);
          });
        }
      });
      */
    });


    function addRow(id,model,description){

      t.row.add([`
        <button id="`+id+`" onclick="deleteModel('`+id+`');" type="button" class="delete btn btn-secondary btn-sm">
          <i class="bi bi-folder-x"></i>
        </button>`,
        `<a href="./model/`+id+`/devices">`+model+`</a>`,
        description]).draw(true);
    }

    $("#submit_model").click(()=>{
      let model = $("#_name_").val();
      let description = $("#_description_").val();
      api.addFWModel(model,description,(err,res)=>{
        if(err){
          $('#error').text("Your request cannot be executed");
          $('#suggestion').text(err);
          $('#modalError').modal('show');
        }else location.reload();
      });
    });

    function deleteModel(model_id){
      id = model_id
      $('#modalConfirmation').modal('show');
    };

    $("#modalProceed").click(()=>{
      api.removeFWModel(id,(err,res)=>{
        if(err){
          $('#error').text("Your request cannot be executed");
          $('#suggestion').text(err.sqlMessage);
          $('#modalError').modal('show');
        }else location.reload();
      });
    })

    // SLIM_GW_WIFI
    // firmware to run on TD SLIM GW device. It supports rs485 and 4 digital inputs. Only wifi is enabled in this version

  </script>
</body>
</html>
